@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: #eee;
}

*{
    box-sizing: border-box;
}

.for{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 100px auto;
    max-width: 600px;
    max-height: 700px;
    padding: 20px 40px;
}

.forminp{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-family: "Poppins";
    background-color: #f3f3f3;
    border: 1px solid #ddd ;
}

.formspa{
    color: rgb(29, 185,237)
}

.formbut{
    height: 30px;
    width: 80px;
    margin: 10px;
    align-items: center;
    border: none;
    background-color: rgb(29, 185,237);
    color: #fff;
    cursor: pointer;
}