<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
    Welcome to Fraud detection web app.

    <!--TODO: replace this hyperlink with a nav bar containing page names with links-->
    <a id="predictionLink"> Prediction Page </a>

    <!--assign value to href attribute of hyperlink elements-->
    <script>
        var baseURL = "http://192.168.0.14:5000/"
        document.getElementById("predictionLink").href = baseURL + "predict";
    </script>
</body>

</html>
